<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>TabliczaMnozenia</servlet-name>
        <servlet-class>com.mycompany.servletpodstawa.TabliczaMnozenia</servlet-class>
        <init-param>
            <param-name>Rozmiar</param-name>
            <param-value>5</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Formularz</servlet-name>
        <servlet-class>com.mycompany.servletpodstawa.Formularz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TabliczaMnozenia</servlet-name>
        <url-pattern>/TabliczaMnozenia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Formularz</servlet-name>
        <url-pattern>/Formularz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
